.mtns img {
    width: 100%;
}
.mtns {
    max-width: 100%;
    margin: auto;
    max-height: inherit;
}
.mtns::after{
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0) 0, rgb(255,161,0) 100%);
    margin-top: -20rem;
    height: 20rem;
    width: 100%;
    content: '';
}
@media screen and (max-width: 600px) {
    .mtns::after{
        display: block;
        position: relative;
        background-image: linear-gradient(to bottom, rgba(255,255,255,0) 0, rgb(255,161,0) 100%);
        margin-top: -10rem;
        height: 10rem;
        width: 100%;
        content: '';
    }
}
.aboutme {
    text-align: center;
}
.aboutMeCard {
    width: 100%;
    padding: 1rem;
}
.aboutMeCard:nth-child(2n+1) {
    background-color: #D3E3DE;
}
.aboutMeCard h3 {
    text-align: left;
}
.aboutMeCard img {
    margin-left: 1rem;
    width: 40%;
}
.footer{
    text-align: center;
    background-color: rgb(248,249,250);
    height: 5rem;
}
