* {
  box-sizing: border-box;
}
@media (min-width: 768px) {
    .container {
        max-width: 88% !important;
    }
}
.mtns img {
    width: 100%;
    max-height: 45rem;
}
.mtns {
    width: 100%;
    margin: auto;
    max-height: inherit;
}
.mtns::after{
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0) 0, rgb(147,153,167) 100%);
    margin-top: -10rem;
    height: 10rem;
    width: 100%;
    content: '';
}
@media screen and (max-width: 600px) {
    .mtns::after{
        display: block;
        position: relative;
        background-image: linear-gradient(to bottom, rgba(255,255,255,0) 0, rgb(147,153,167) 100%);
        margin-top: -10rem;
        height: 10rem;
        width: 100%;
        content: '';
    }
}
.mainHeader {
  text-align: center;
  font-size: 4rem;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}
.aboutMeCard {
    width: 100%;
    padding: 3rem 1rem;
}
.aboutMeCard:nth-child(2n+1) {
    background-color: rgb(200, 208, 228);
}
.aboutMeCard h3 {
    text-align: left;
    margin-top: -2rem;
    margin-bottom: 1.5rem;
    font-family: 'Playfair Display', serif;
}
.aboutMeCard p {
    font-family: 'Playfair Display', serif;
}
.aboutMeCard img {
    margin-left: 7%;
    margin-right: 7%;
    width: 86%;
}
.footer{
    text-align: center;
    background-color: rgb(248,249,250);
    height: 12rem;
    margin: 40px 0px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}
.fa-linkedin {
    margin-right: 1rem;
}
.pageNotFound {
  margin-top: 5rem;
  text-align: center;
}
.pageNotFound h2 {
  font-size: 72px;
}
.pageNotFound img {
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
}
th img {
  width: 90%;
  text-align: center;
  vertical-align: middle;
}
@media screen and (max-width: 1075px) {
  th img {
    width: 90%;
    margin: 0rem 1rem;
  }
}
